/* Home Container */

.home-container {
  position: fixed;
  top: 48%;
  left: 20%;
  right: 20%;
  display: flex;
  transform: translate(0, -50%);
  flex-direction: column;
}

.room-input {
  margin: 12px 0px;
  padding: 8px 12px;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #ddd;
}

.room-input:hover {
  outline: none;
  border-color: #5f5fbb;
}

.room-submit-button,
.profile-view-button {
  margin-top: 30px;
  padding: 8px 12px;
  font-size: 24px;
  color: #5f5fbb;
  background: #ffffff;
  border: 2px solid #ddd;
  text-align: center;
  text-decoration: none;
}

.room-submit-button:hover,
.profile-view-button:hover {
  outline: none;
  color: #ffffff;
  background: #5f5fbb;
  border-color: #5f5fbb;
}
