/* Room Container */

.chat-room-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 18px;
}

/* Message Container */

.messages-container {
  flex: 1;
  height: 72vh;
  overflow: auto;
  border: 1.8px solid #f0f0f0;
}

.messages-list {
  padding: 0;
  list-style-type: none;
}

.message-item {
  width: 48%;
  color: #f6f6f9;
  margin: 12px 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
}

.sent-message {
  background: #666699;
  margin-left: auto;
}

.received-message {
  background: #669966;
  margin-right: auto;
}

/* Message Input Area */

.message-input-area {
  display: flex;
  padding: 10px 8px;
  background: #f0f0f0;
}

.message-input-area * {
  font-size: 1em;
  padding: 10px 8px;
  border-radius: 3px;
  border: none;
}

.message-input {
  flex: 1;
  background: #fdfdfd;
}

.message-send-button {
  margin-left: 10px;
  color: #f6f6f9;
  background: #666699;
  cursor: pointer;
}
